.header {
}
.container {
}
.header-up {
}
.header-leftside {
}
.header-leftside-logo {
}
.header-leftside-logo-img {
}
.header-leftside-link {
}
.header-rightside {
}
.header-rightside-link {
}
.header-down {
}
.header-navigation {
}
.header-navigation-list {
}
.header-navigation-item {
}
.header-navigation-item-link {
}
.header-button-container {
}
.header-down-btn {
}
.main {
}
.offers {
}
.offers-title {
}
.offers-container {
}
.offers-block {
}
.offers-leftside-tour {
}
.tour-tiitle {
}
.tour-price {
}
.tour-link {
}
.offers-rooms {
}
.rooms-title {
}
.rooms-price {
}
.rooms-link {
}
.about {
}
.about-title {
}
.about-description {
}
.services {
}
.services-title {
}
.services-list {
}
.services-item {
}
.services-item-img {
}
.services-item-link {
}
.services-item-description {
}
.advantages {
}
.advantages-title {
}
.advantages-list {
}
.advantages-item {
}
.advantages-item-icon {
}
.advantages-item-description {
}
.hotels {
}
.hotels-title {
}
.hotels-list {
}
.hotels-item {
}
.hotels-item-img {
}
.hotels-item-price {
}
.price-from {
}
.price-count {
}
.price-night {
}
.hotels-item-stars {
}
.star {
}
.hotels-item-name {
}
.hotels-item-location {
}
.btn {
}
.hotels-more {
}
.hotels-more-link {
}

/* Fonts */

@font-face {
  font-family: 'Muller';
  src:  url('../font/MullerMedium.woff2') format('woff2'),
        url('../font/MullerMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src:  url('../font/MullerRegular.woff2') format('woff2'),
        url('../font/MullerRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src:  url('../font/MullerBold.woff2') format('woff2'),
        url('../font/MullerBold.woff') format('woff');   
  font-weight: bold;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Muller', sans-serif;
  background-color: #F1F1F1;
}

.container {
  margin: 30px auto;
  width: 1170px;  
}

a {
  line-height: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
  margin: 0 0 20px 40px;
  font-size: 40px;
  font-weight: normal;
  color: #333333;
}

button {
  width: 107px;
  height: 42px;
  padding: 12px 19px;
  border: 1px solid #CC9933;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  background-color: #FFFFFF;
  color: #CC9933;
}

section:not(:last-child) {
  margin-bottom: 70px;
}

/* Header */

/* UP side */
.header-up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header-leftside {
  display: flex;
  align-items: center;
}

.header-leftside-link {
  font-size: 20px;
  line-height: 1;
  font-weight: 500;
  color: #666666;
}

.header-leftside-logo-img {
  margin-right: 40px;
}

.header-rightside-link {
  position: relative;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color: #CC9933;
}

.header-rightside-link::before {
  content: '';
  background-image: url(../img/keyboard_tab.svg);
  position: absolute;
  width: 24px;
  height: 24px;
  left: -27px;
  top: -5px;

}

/* DOWN side */

.header-down {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 45px;
  margin-bottom: 70px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.header-navigation {
  margin-right: auto;
}

.header-navigation-list {
  display: flex;
}

.header-navigation-item:not(:last-child) {
  margin-right: 40px;
}

.header-navigation-item-link {
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color: #666666;
}

.header-button-container {
  font-size: 0;
}

.header-btn-huge {
  width: 177px;
  margin-left: 40px;
}


/* MAIN */
/* Offers */

.offers-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 600px;
}

.offers-block {
  display: flex;
  flex-direction: column;
  min-height: 258px;
  min-width: 573px;
  padding: 40px 0 40px 45px;
  background: center center no-repeat transparent;
  background-size: cover;
  border-radius: 15px;
}

.offers-block:not(:last-child) {
  margin-right: 24px;
}

.offers-block:first-child {
  margin-bottom: 24px;
}

.first-tour {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), 
                    url(../img/Rectangle\ 15.jpg);
}

.second-tour {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
                    url(../img/Rectangle\ 15.2.jpg);
}

.luxe-rooms {
  min-height: 540px;
  padding: 212px 0 40px 45px;
  background-image: linear-gradient(360deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
                    url(../img/33\ 1.jpg);
  background-position: left center;
  background-size: contain;
}

.tour-tiitle {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 1;
  font-weight: bold;
  color: #FFFFFF;
}

.first-tour .tour-tiitle {
  width: 80%;
}

.tour-price {
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
  color: #FFFFFF;
}

.tour-link {
  position: relative;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color: #F0BF5F;
}

.tour-link::before {
  content: '';
  position: absolute;
  left: 88px;
  top: 1px;
  width: 10px;
  height: 10px;
  border: 2px solid #F0BF5F;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg); 
}

.rooms-title {
  margin: 0;
  margin-bottom: 15px;
  max-width: 350px;
  font-size: 60px;
  line-height: 1;
  font-weight: bold;
  color: #FFFFFF;
}

.rooms-price {
  margin-bottom: 47px;
  font-size: 30px;
  line-height: 1;
  font-weight: normal;
  color: #FFFFFF;
}

.rooms-link {
  position: relative;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color: #F0BF5F;
}

.rooms-link::before {
  content: '';
  position: absolute;
  left: 88px;
  top: 1px;
  width: 10px;
  height: 10px;
  border: 2px solid #F0BF5F;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg); 
}


.offers-block:nth-child(2) {
  /* order: 2; */
}

/* About */

.about-description {
  width: 76%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  color: #000;
}

/* Services */

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.services-item {
  max-width: 573px;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.services-item-img {
  margin-bottom: 26px;
  border-radius: 15px 15px 0px 0px;
}

.services-item:nth-child(-n+2) {
  margin-bottom: 24px;
}

.sevice-item-info {
  padding: 0 0 35px 45px;
}

.services-item-link {
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  color: #CC9933;
}

.services-item-link::after {
  content: '';
  position: absolute;
  right: -15px;
  top: 13px;
  width: 10px;
  height: 10px;
  border: 2px solid #F0BF5F;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg); 
}

.services-item-description {
  width: 73%;
  margin: 0;
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  color: #000;
  word-wrap: break-word;
}

.services-item:first-child .services-item-description {
  width: 75%;
}


/* Advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  max-width: 276px;
  padding: 40px 42px 32px 45px;
  border-radius: 15px;
  line-height: 0;
  background-color: #FFFFFF;
}

.advantages-item:nth-child(-n+4) {
  margin-bottom: 22px;
}

.advantages-item-description {
  margin: 0;
  margin-top: 10px;
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
  color: #000;
}

/* Hotels */

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotels-item {
  max-width: 374px;
  border-radius: 15px;
  line-height: 0;
  background-color: #FFFFFF;
  /* margin-bottom: 24px; */
}

.hotels-item:nth-last-child(n + 4) {
  margin-bottom: 24px;
}

.hotels-item:last-child {
  min-width: 374px;
}

.hotels-item-info {
  padding: 32px 45px 45px;
}

.hotels-item-img {
  border-radius: 15px 15px 0px 0px;
}

.price-from {
  margin-right: 4px;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color: #999999;
}

.price-count {
  margin-right: 4px;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  color: #000;
}

.price-night {
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color: #000;
}

.hotels-item-price, .hotels-item-stars {
  display: inline-block;
  font-size: 0;
}

.hotels-item-stars .star:not(:last-child) {
  margin-right: 6px;
}

.hotels-item-price {
  margin-right: 43px;
}

.hotels-item-name {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color: #000;
}

.hotels-item-location {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1;
  font-weight: normal;
  color: #999999;
}

.hotels-btn {
  display: block;
  width: 100px;
}

.hotels-more {
  background: url(../img/photo\ 9.jpg) center center no-repeat transparent;
  background-size: contain;
}

.hotels-more-link {
  position: relative;
  display: block;
  margin: 373px 54px 27px;
  font-size: 20px;
  line-height: 2;
  font-weight: 500;
  color: #FFFFFF;
}

.hotels-more-link::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 12px;
  width: 10px;
  height: 10px;
  border: 2px solid #FFFFFF;
  border-left: none;
  border-top: none;
  transform: rotate(-45deg); 
}